# Data science tools and ecosystem

In this notebook, data science tools and ecosystem are sumarized.

**Objectives:**
<ul>
<li>Create a jupiter notebook</li>
<li>Insert code and markdown cells</li>
<li>Share mynotebook through github</li>
</ul>

Some of the popular languages that Data scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>Java script</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Numpy</li>
<li>Pandas</li>
<li>Matplotlib</li>
</ol>

<table style="width:20%">
<tr>
<th> Data Science tools </th>
</tr>
<tr>
<td> R </td>
</tr>
<tr>
<td> PYTHON </td>
</tr>
<tr>
<td> WEKA </td>
</tr>
</table>

### Below are a few examples of evaluating arithmetic expresstions in pyton

In [1]:
# this is simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# this will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Tran Viet Hai